a,
a:hover,
a:focus,
.sub-header li i,
ul#navlist li>a:hover,
ul#navlist li>a.selected,
ul#navlist li:hover .span,
.nav-border,
.feature-box i,
.feature-box:hover .feat-text h4,
.active-header,
.aboutus p span,
.service-item i,
.service-welcome p span,
.service-tabs .tabs-widget>div p span,
.end-product a,
.feat-right2 span,
.tweet a:hover,
.user a>span:hover,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.widget_search .fa.fa-search {
  color: #4eccb9;
}
.sf-menu .sub-menu li,
.sub-menu li:hover,
.feat-text,
.feature-box:hover i,
.recent-work .view a,
.recent-work .desc,
.whychose-box:hover .w-icons i,
.whychose-box:hover .w-descr,
.additionalicons,
.view-first i,
.tabs-widget .tab-links li.active,
.widget_sh_tabber .tab-links li.active,
.filter-container .view .mask a,
.filter-container .desc,
.dark-version .sub-header,
.port-full .filter-container .view a,
.filter-container .desc,
.head-banner h4,
#my-carousel-3 li,
.service-item:hover,
.our-service i,
.price,
.end-product a:hover,
.shop-aside h3,
#contact-form input[type="text"]:focus+span i,
.comment-form input[type="text"]:focus+span i,
#contact-form input[type="submit"],
.comment-form input[type="submit"],
#contact input[type="submit"],
.pagenation li.active,
.page-numbers.current,
.pagination li.active,
.pagenation li:hover,
.pagination li:hover,
.last-div,
.woocommerce-tabs ul li.active {
  background: #4eccb9;
}
.feat-text,
.feature-box i,
.w-icons:after,
.dark-version .feat-text,
.dark-version .testimonials img,
.sf-menu .sub-menu li,
#contact-form input[type="text"]:focus+span i,
.comment-form input[type="text"]:focus+span i,
.nav-border,
.column3.widget_tag_cloud a:hover,
.tags a:hover,
.widget_tag_cloud a:hover,
.woocommerce-tabs ul li.active {
  border-color: #4eccb9;
}
