{% extends "master.html" %}
{% load staticfiles %}
{% block title %}About Us{% endblock %}
{% block meta %}

{% endblock %}
{% block css %}
{%endblock %}


{% block content %}
<div class="head-banner clearfix mb30">
  <div class="wrapper">
	<h4>ABOUT</h4>
	<ul class="breadcrumb"><li><a href="/">Home</a></li>ABOUT</ul>	<div class="clear"></div>
  </div>
</div>
				<section class=" wrapper"  ><div class="wrapper dark"><div class="column12"><div class="service-welcome">
 <h3 class="main-title">Biography</h3>
<span class="main-subtitle">ABOUT GEO SOLUTIONS</span>
 <p>Unique Solutions is an organization, which is committed to promote Geo-informatics and its applications in various development and planning activities. Our main focus is on Rural Development and Decentralized Planning. Geo Solutions is established by a team of Geographers, Social Workers, Regional & Urban Planners, Geo Informatics Professionals and Information Solution Specialists to serve the community through Geographical Sciences.</p>

 <span class="main-subtitle">company story</span>

 <p> </p>
<p>Under the dynamic leadership of Mr. Parveen Kumar and more than 10+ qualified/experienced & trend engineers architectures, surveyors & other technical. In addition to the permanent staff Unique Solutions engaged local unskilled works.</p>
<p>Established in 2016, Unique Solutions. is one of the leading surveys company, operating across the India. We are the combination of expertise, technology and highly innovative staff and latest equipments, hence, we are always the forefront of the survey industry.</p>
<p>We, the Unique Solutions, are a leading company In the area of Land and Quantity Survey, Cartography, Geological mapping, Geotechnical investigation and related Study Of Project Sites, We are well equipped with all Modern instruments and technologies, Viz. Programmable total Station electronic theodolite, electronic distance Meters, automatic levels, Remote Sensing, CAD and a large number of application softwares.</p>
<p>With the advent of electronics and advanced microprocessor based surveying and Mapping Technology, a revolutionary era has started in the area of land surveying and studying The developmental Projects a vital importance, viz. Bridges, constructions, Farming Forest Survey Highways, Housing Hydropower Industry lrrigation & Mining ports and Harbours, Thermal Power, Tunneling Urban and Rural Development, Water ways. These instruments Have Made the Job not only time and labour Saving, but also highly precise and better Understandable.</p>
<p>Accordingly, we introduce ourselves proudly as a coherent team of well experienced, Internationally trained globally accepted team of Engineers, Surveyors, Geotechnical experts, Transport Planners.</p>
<p>We will further respond with all the details on your kind response to our introduction. We are also in a hope of a long term commitment with the agency having vision, understanding And appreciation of the excellence like that of yours.</p>
<p></p>
</div>

</div></div></section><div class="clear"></div><section class="clearfix" ><div class="ro"><div class="column12"><!-- Our Team -->
<div class="our-team-about wrapper mb30 style="background-image:url(static/files/2014/06/team-bg.jpg);"">
  <h3 class="main-title">Meet our Team</h3>
  <span class="main-subtitle">our cool &amp; professional staff</span>

	<div class="dark">

		<div class="column3 team-item">

			<a href="#"><div class="team-mates">
			  <img width="258" height="222" src="{%static 'files/2014/06/team4-258x222.jpg' %}" class="attachment-258x222 size-258x222 wp-post-image" alt="" />			</div></a>

			<div class="team-descr">
			  <h3>Mike William1</h3>
			  <h5>Manager</h5>
			</div>
			<div class="additionalicons">
												<a href="#" title="Google Pluse"><i class="fa fa-google-plus"></i></a>
												<a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
												<a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a>
												<a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
									</div>

		</div>
		<!-- End Slide -->

		<div class="column3 team-item">

			<a href="#"><div class="team-mates">
			  <img width="258" height="222" src="{%static 'files/2014/06/team3-258x222.jpg' %}" class="attachment-258x222 size-258x222 wp-post-image" alt="" />			</div></a>

			<div class="team-descr">
			  <h3>John Doe</h3>
			  <h5>Blogger</h5>
			</div>
			<div class="additionalicons">
												<a href="#" title="Google Pluse"><i class="fa fa-google-plus"></i></a>
												<a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
												<a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a>
												<a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
									</div>

		</div>
		<!-- End Slide -->

		<div class="column3 team-item">

			<a href="#"><div class="team-mates">
			  <img width="258" height="222" src="{%static 'files/2014/06/team2-258x222.jpg' %}" class="attachment-258x222 size-258x222 wp-post-image" alt="" />			</div></a>

			<div class="team-descr">
			  <h3>Vladimir Perzanjak</h3>
			  <h5>Programmer</h5>
			</div>
			<div class="additionalicons">
												<a href="#" title="Google Pluse"><i class="fa fa-google-plus"></i></a>
												<a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
												<a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a>
												<a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
									</div>

		</div>
		<!-- End Slide -->

		<div class="column3 team-item">

			<a href="#"><div class="team-mates">
			  <img width="258" height="222" src="{%static 'files/2014/06/team1-258x222.jpg' %}" class="attachment-258x222 size-258x222 wp-post-image" alt="" />			</div></a>

			<div class="team-descr">
			  <h3>Smith Armstrong</h3>
			  <h5>Developer</h5>
			</div>
			<div class="additionalicons">
												<a href="#" title="Google Pluse"><i class="fa fa-google-plus"></i></a>
												<a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
												<a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a>
												<a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
									</div>

		</div>
		<!-- End Slide -->
			<div class="clear"></div>

	</div>
	<!-- End Slider2 -->

</div>
<!-- Our Team Ends -->




    			<div class="fun-facts mb30">
		 			<h3 class="main-title">Fun Facts</h3>
      				<span class="main-subtitle">company stats and achievements</span>
					<div class="our-services">
        				<div class="wrapper">
          					<div class="dark">
            <div class="column3">
              <div class="service-item">
                <i class="fa fa-glass"></i>
                <h3>956779</h3>
                <span>Lines of code written</span>
              </div>
            </div>

            <div class="column3">
              <div class="service-item">
                <i class="fa fa-pencil"></i>
                <h3>1479</h3>
                <span>Coffe Drink</span>
              </div>
            </div>

            <div class="column3">
              <div class="service-item">
                <i class="fa fa-camera"></i>
                <h3>578</h3>
                <span>Happy Clients</span>
              </div>
            </div>

            <div class="column3">
              <div class="service-item">
                <i class="fa fa-play-circle-o"></i>
                <h3>2178</h3>
                <span>Projects Done</span>
              </div>
            </div>
					<div class="clear"></div>
							</div>
        				</div>
      				</div>
				</div></div></div></section>





{% endblock %}
{% block script %}
{% endblock %}
