{% extends "master.html" %}
{% load staticfiles %}
{% block title %}Contact Us{% endblock %}
{% block meta %}

{% endblock %}
{% block css %}
{%endblock %}


{% block content %}
<div class="head-banner clearfix mb30">
  <div class="wrapper">
	<h4>CONTACT</h4>
	<ul class="breadcrumb"><li><a href="/">Home</a></li>CONTACT</ul>	<div class="clear"></div>
  </div>
</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2900.6467359515555!2d76.03304641457771!3d28.937320182298524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391243b5ba22fad5%3A0xc9778f9c4ee998ae!2sUnnamed+Road%2C+Bawani+Khera%2C+Haryana+127032!5e1!3m2!1sen!2sin!4v1488300840157" width="" height="600" frameborder="0" style="width:100%;border:0;margin-top:-30px;" allowfullscreen></iframe>
			<section class=" wrapper dark"  ><div class="wrapper dark"><div class="column6">
					<div class="contact-info contact-content">
						<h3 class="main-title">Contact Info</h3>
						<span class="main-subtitle">our email, phone and street address</span>
						<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
<p>Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.vulputate cursus a sit</p>
						<div class="post-meta">
							<div class="post-home">
								<i class="fa fa-home"></i>
									 lorem ipsum street
							</div>
							<div class="post-phone">
								<i class="fa fa-phone"></i>
									+399 (500) 321 9548
							</div>
							<div class="post-mail">
								<a href="mailto:info@domain.com"><i class="fa fa-envelope"></i>
									 info@domain.com
								</a>
							</div>
						</div>
					</div></div><div class="column6">
						<div class="contact-box contact-content">
						  <form id="contact-form" name="contactform"  method="post" action="http://demos.megawpthemes.com/arkitekt/wp-admin/admin-ajax.php?action=_sh_ajax_callback&amp;subaction=sh_contact_form_submit">
							<h3 class="main-title">Get in touch</h3>
							<span class="main-subtitle">send us a message</span>
								<div id="message2"></div>
							  <div class="dark">
								<div class="text-fields column4">
								  <div class="float-input">
								  	<input name="contact_name" id="contact_name" type="text" placeholder="Name">
									<span><i class="fa fa-user"></i></span>
								  </div>
								  <div class="float-input">
									<input name="contact_email" id="contact_email" type="text" placeholder="Email">
									<span><i class="fa fa-envelope-o"></i></span>
								  </div>
								  <div class="float-input">
									<input name="contact_website" id="contact_website" type="text" placeholder="website">
									<span><i class="fa fa-link"></i></span>
								  </div>
								</div>

								<div class="submit-area column8">

								  <textarea name="contact_message" id="contact_message" placeholder="Message"></textarea>
								  <input type="submit" id="submit_contact" class="main-button" value="Send">
								</div>
							  </div>
						  </form>
						</div>
						<div class="clear"></div></div></div></section><div class="clear"></div>







{% endblock %}
{% block script %}
{% endblock %}
