{% extends "master.html" %}
{% load staticfiles %}
{% block title %}Land Surveys{% endblock %}
{% block meta %}

{% endblock %}
{% block css %}

{%endblock %}


{% block content %}
<div class="head-banner clearfix mb30">
  <div class="wrapper">
	<h4>LAND SURVEYS</h4>
	<ul class="breadcrumb"><li><a href="/">Home</a></li>
    <li><a href="/our-services">Services</a></li>
    Land Surveys</ul>	<div class="clear"></div>
  </div>
</div>





<div class="main-content wrapper dark">


<div class="home-blog column9">
 <div class="dark mb30">

     <div id="post-358" class="single-post-wrapper post-358 post type-post status-publish format-standard has-post-thumbnail hentry category-envato-2">

       <div class="post-detail">

         <img width="870" height="510" src="{% static 'app/landsurvey_flexiblegnsssolution_interactive_c.jpg' %}" class="attachment-870x510 size-870x510 wp-post-image" alt="" />

         <h2>Land Surveys</h2>

         <div class="blog-content">
<p>Land surveys are being done in every case of sale or purchase of land by individuals and acquisition of land from the public by the Government. The Government also carries out land survey in routine to upgrade its maps and charts. </p>
<p>While buying and selling land it is essential to survey the land so that the exact measurement of the land can be arrived at. Since the rate of sale and purchase is known, it is quantum of land that will be used to arrive at the total price to be paid or received. The same logic applies when Government is acquiring land from the public for some project etc.
The government on its own carries out land survey so that the charts and maps can be updated. This is required to be done in order to ensure that the charts and maps are updated at regular intervals. Very often due to natural calamities the entire demography of the area is changed. </p>
<p>In such cases it becomes imperative to redo the land survey. Our company is into land survey and we do have the latest equipment to carry out the survey to the entire satisfaction of our clients. Our staff is very well trained and have years of experience to carry out land surveys. It has always been our endeavor to ensure that our survey results are totally accurate, reliable and delivered in the time frame as agreed. Last but not the least, our land survey rates are compatible with the rest of the industry.</p>

           <div class="clearfix"></div>
                       </div>




       </div>
       <!-- End column4 -->
     </div>





 </div>

</div>

   <aside class="column3">
   <div id="sh_accordion_post-2" class="widget_sh_accordion_post"><h3>Technologies</h3>
 <div class="blog-categ mb30">
   <div class="accordion">
     <div id="accordion-container">



                                 <h2 class="accordion-header">New Search Platform Update</h2>
       <div class="accordion-content">
                   A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a Seven hells. Ever vigilant, moon-flower juice green dreams, old bear arbor gold, though all men do despise us. Maecenas you know nothing. Mulled wine.Seven hells. Ever vigilant, moon-flower juice
               </div>
                         <h2 class="accordion-header">Envato&#8217;s Most Wanted &#8211; $5,000</h2>
       <div class="accordion-content">
                   A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a Seven hells. Ever vigilant, moon-flower juice green dreams, old bear arbor gold, though all men do despise us. Maecenas you know nothing. Mulled wine.Seven hells. Ever vigilant, moon-flower juice
               </div>
                         <h2 class="accordion-header">Update: WordPress Theme Submission Requirements</h2>
       <div class="accordion-content">
                   A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a Seven hells. Ever vigilant, moon-flower juice green dreams, old bear arbor gold, though all men do despise us. Maecenas you know nothing. Mulled wine.Seven hells. Ever vigilant, moon-flower juice
               </div>



         </div>
   </div>
 </div>

 <div class="clear"></div></div>		</aside>

<div class="clear"></div>
</div>


{% endblock %}
{% block script %}
{% endblock %}
