{% extends "master.html" %}
{% load staticfiles %}
{% block title %}Physical Surveys{% endblock %}
{% block meta %}

{% endblock %}
{% block css %}
{%endblock %}


{% block content %}
<div class="head-banner clearfix mb30">
  <div class="wrapper">
	<h4>PHYSICAL SURVEYS</h4>
	<ul class="breadcrumb"><li><a href="/">Home</a></li>
    <li><a href="/our-services">Services</a></li>
    Physical Surveys</ul>	<div class="clear"></div>
  </div>
</div>





<div class="main-content wrapper dark">


<div class="home-blog column9">
 <div class="dark mb30">

     <div id="post-358" class="single-post-wrapper post-358 post type-post status-publish format-standard has-post-thumbnail hentry category-envato-2">

       <div class="post-detail">

         <img width="870" height="510" src="{% static 'app/Physical_Survey.jpg'%}" class="attachment-870x510 size-870x510 wp-post-image" alt="" />

         <h2>Physical Surveys</h2>

         <div class="blog-content">
<p>Unique Solutions has the completely acquainted with all the scientifically latest equipment for carrying out restoration surveys. We have worked expansively over the years and kept ourselves upgraded with all what is today’s cutting edge of the surveying industry- the latest technology. Thus, at Unique Solutions Surveys, you will not just get the benefit of most up-to-date technology, but also that of years of experience, available at the most viable of the prices. So, for assured quality work, do turn to Unique Solutions Surveys.</p>
<p>Physical surveys is also called mortgage surveys. Physical surveys caters to the demarcation of land by identifying its boundaries. Very often while purchasing a large track of land we come across situations where the said boundaries are disputed. This happens when the boundaries are not properly demarcated. No poles, pillars or barbed wire fencing etc. is erected around the land. It is but natural that neighbors will lay claims that are not justified.</p>
<p>In order to resolve these claims and counter claims physical survey is carried out. During the surveys the boundaries are demarcated. This survey is done in the presence of all the parties so that later on the fairness of the survey cannot be disputed. Once the boundaries are marked, permanent concrete pillars etc. are placed at regular intervals with wire fencing. Now the property is duly identifiable as its boundaries can be easily identified. Sometimes the land in question has buildings located on it. During the physical surveys the exact location of the building by way of an outline diagram is also demarcated. Whenever sale purchase of land takes place, physical survey is always done, so that land is properly identified and subsequently the ownership is verified.</p>
<p>Very often big industrial units are established on land holdings. When banks are approached for loan they ask for collateral security. When the same land is offered as collateral, banks insist on a physical survey as they would like to be very sure about the actual size, shape, location and extent of land so that the same can be mortgaged to the bank as collateral for the loan.</p>
           <div class="clearfix"></div>
                       </div>




       </div>
       <!-- End column4 -->
     </div>





 </div>

</div>

   <aside class="column3">
   <div id="sh_accordion_post-2" class="widget_sh_accordion_post"><h3>Technologies</h3>
 <div class="blog-categ mb30">
   <div class="accordion">
     <div id="accordion-container">



                                 <h2 class="accordion-header">New Search Platform Update</h2>
       <div class="accordion-content">
                   A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a Seven hells. Ever vigilant, moon-flower juice green dreams, old bear arbor gold, though all men do despise us. Maecenas you know nothing. Mulled wine.Seven hells. Ever vigilant, moon-flower juice
               </div>
                         <h2 class="accordion-header">Envato&#8217;s Most Wanted &#8211; $5,000</h2>
       <div class="accordion-content">
                   A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a Seven hells. Ever vigilant, moon-flower juice green dreams, old bear arbor gold, though all men do despise us. Maecenas you know nothing. Mulled wine.Seven hells. Ever vigilant, moon-flower juice
               </div>
                         <h2 class="accordion-header">Update: WordPress Theme Submission Requirements</h2>
       <div class="accordion-content">
                   A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a Seven hells. Ever vigilant, moon-flower juice green dreams, old bear arbor gold, though all men do despise us. Maecenas you know nothing. Mulled wine.Seven hells. Ever vigilant, moon-flower juice
               </div>



         </div>
   </div>
 </div>

 <div class="clear"></div></div>		</aside>

<div class="clear"></div>
</div>


{% endblock %}
{% block script %}
{% endblock %}
