{% extends "master.html" %}
{% load staticfiles %}
{% block title %}Our Portfolio{% endblock %}
{% block meta %}

{% endblock %}
{% block css %}
{%endblock %}


{% block content %}
<div class="head-banner clearfix mb30">
  <div class="wrapper">
	<h4>PORTFOLIO</h4>
	<ul class="breadcrumb"><li><a href="/">Home</a></li>PORTFOLIO</ul>	<div class="clear"></div>
  </div>
</div>





	 <section class="clearfix" ><div class="ro"><div class="column12">
<div class="portfolio port4">

  <div class="wrapper">
    <div class="filters demo1">
		<div class="filter clearfix">
					            							<ul>
						<li><a href="#" class="active" data-filter="*">Show All</a></li>
          				                			<li><a href="#" data-filter=".logos">LOGOS</a></li>
						                			<li><a href="#" data-filter=".wallpapers">WALLPAPERS</a></li>
						                			<li><a href="#" data-filter=".technology">TECHNOLOGY</a></li>
						                			<li><a href="#" data-filter=".websites">WEBSITES</a></li>
						                			<li><a href="#" data-filter=".nature">NATURE</a></li>
						                			<li><a href="#" data-filter=".buissness-cards">BUISSNESS CARDS</a></li>
											</ul>
							</div>
		<div class="clear"></div>

		<div class="container clearfix">

	<ul class="filter-container clearfix">




		<li class="logos wallpapers ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full1-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" srcset="http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full1-270x207.jpg 270w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full1-300x230.jpg 300w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full1.jpg 384w" sizes="(max-width: 270px) 100vw, 270px" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full1.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-1/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-1/index.html">Arkitekt design 1</a></h4>
					  <span><a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a>, <a href="../portfolio_category/wallpapers/index.html" rel="tag">WALLPAPERS</a></span>
				  </div>
			</div>
		</li>




		<li class="logos technology ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full2-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" srcset="http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full2-270x207.jpg 270w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full2-300x230.jpg 300w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full2-384x295.jpg 384w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full2.jpg 385w" sizes="(max-width: 270px) 100vw, 270px" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full2.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-2/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-2/index.html">arkitekt design 2</a></h4>
					  <span><a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a>, <a href="../portfolio_category/technology/index.html" rel="tag">TECHNOLOGY</a></span>
				  </div>
			</div>
		</li>




		<li class="logos wallpapers ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full31-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full31.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-3/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-3/index.html">arkitekt design 3</a></h4>
					  <span><a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a>, <a href="../portfolio_category/wallpapers/index.html" rel="tag">WALLPAPERS</a></span>
				  </div>
			</div>
		</li>




		<li class="logos technology websites ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full4-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" srcset="http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full4-270x207.jpg 270w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full4-300x230.jpg 300w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full4-384x295.jpg 384w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full4.jpg 385w" sizes="(max-width: 270px) 100vw, 270px" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full4.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-4/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-4/index.html">arkitekt design 4</a></h4>
					  <span><a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a>, <a href="../portfolio_category/technology/index.html" rel="tag">TECHNOLOGY</a>, <a href="../portfolio_category/websites/index.html" rel="tag">WEBSITES</a></span>
				  </div>
			</div>
		</li>




		<li class="logos nature ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full5-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" srcset="http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full5-270x207.jpg 270w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full5-300x230.jpg 300w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full5.jpg 384w" sizes="(max-width: 270px) 100vw, 270px" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full5.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-5/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-5/index.html">arkitekt design 5</a></h4>
					  <span><a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a>, <a href="../portfolio_category/nature/index.html" rel="tag">NATURE</a></span>
				  </div>
			</div>
		</li>




		<li class="buissness-cards logos websites ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full6-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" srcset="http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full6-270x207.jpg 270w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full6-300x230.jpg 300w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full6.jpg 384w" sizes="(max-width: 270px) 100vw, 270px" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full6.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-6/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-6/index.html">arkitekt design 6</a></h4>
					  <span><a href="../portfolio_category/buissness-cards/index.html" rel="tag">BUISSNESS CARDS</a>, <a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a>, <a href="../portfolio_category/websites/index.html" rel="tag">WEBSITES</a></span>
				  </div>
			</div>
		</li>




		<li class="logos nature websites ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full7-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" srcset="http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full7-270x207.jpg 270w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full7-300x230.jpg 300w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full7-384x295.jpg 384w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full7.jpg 385w" sizes="(max-width: 270px) 100vw, 270px" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full7.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-7/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-7/index.html">arkitekt design 7</a></h4>
					  <span><a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a>, <a href="../portfolio_category/nature/index.html" rel="tag">NATURE</a>, <a href="../portfolio_category/websites/index.html" rel="tag">WEBSITES</a></span>
				  </div>
			</div>
		</li>




		<li class="buissness-cards logos ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full8-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full8.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-8/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-8/index.html">arkitekt design 8</a></h4>
					  <span><a href="../portfolio_category/buissness-cards/index.html" rel="tag">BUISSNESS CARDS</a>, <a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a></span>
				  </div>
			</div>
		</li>




		<li class="logos nature technology ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full9-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" srcset="http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full9-270x207.jpg 270w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full9-300x230.jpg 300w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full9-384x295.jpg 384w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full9.jpg 385w" sizes="(max-width: 270px) 100vw, 270px" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full9.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-9/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-9/index.html">arkitekt design 9</a></h4>
					  <span><a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a>, <a href="../portfolio_category/nature/index.html" rel="tag">NATURE</a>, <a href="../portfolio_category/technology/index.html" rel="tag">TECHNOLOGY</a></span>
				  </div>
			</div>
		</li>




		<li class="buissness-cards logos ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full10-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" srcset="http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full10-270x207.jpg 270w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full10-300x230.jpg 300w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full10.jpg 384w" sizes="(max-width: 270px) 100vw, 270px" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full10.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-10/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-10/index.html">arkitekt design 10</a></h4>
					  <span><a href="../portfolio_category/buissness-cards/index.html" rel="tag">BUISSNESS CARDS</a>, <a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a></span>
				  </div>
			</div>
		</li>




		<li class="wallpapers websites ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full11-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" srcset="http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full11-270x207.jpg 270w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full11-300x230.jpg 300w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full11.jpg 384w" sizes="(max-width: 270px) 100vw, 270px" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full11.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitet-design-11/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitet-design-11/index.html">arkitet design 11</a></h4>
					  <span><a href="../portfolio_category/wallpapers/index.html" rel="tag">WALLPAPERS</a>, <a href="../portfolio_category/websites/index.html" rel="tag">WEBSITES</a></span>
				  </div>
			</div>
		</li>




		<li class="buissness-cards logos ">
			<div class="view view-sixth">
 			<img width="270" height="207" src="../files/2014/06/port-full12-270x207.jpg" class="attachment-270x207 size-270x207 wp-post-image" alt="" srcset="http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full12-270x207.jpg 270w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full12-300x230.jpg 300w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full12-384x295.jpg 384w, http://demos.megawpthemes.com/arkitekt/files/2014/06/port-full12.jpg 385w" sizes="(max-width: 270px) 100vw, 270px" />				 <div class="mask">
                 	  <a href="../files/2014/06/port-full12.jpg"  data-fancybox-group="group"><i class="fa fa-search"></i></a>
                      <a href="arkitekt-design-12/index.html"><i class="fa fa-file-o"></i></a>
                  </div>
                  <div class="desc">
					  <h4><a href="arkitekt-design-12/index.html">arkitekt design 12</a></h4>
					  <span><a href="../portfolio_category/buissness-cards/index.html" rel="tag">BUISSNESS CARDS</a>, <a href="../portfolio_category/logos/index.html" rel="tag">LOGOS</a></span>
				  </div>
			</div>
		</li>


	</ul>

		</div>

		<div class="clear"></div>

		<!-- <div class="pagenation clearfix">
			<div class="text-center pagination"><ul class='page-numbers'>
	<li><span class='page-numbers current'>1</span></li>
	<li><a class='page-numbers' href='page/2/index.html'>2</a></li>
	<li><a class="next page-numbers" href="page/2/index.html">&raquo;</a></li>
</ul>
</div>		</div> -->

	</div>
  </div>
</div>
</div></div></section>


{% endblock %}
{% block script %}
{% endblock %}
