{% extends "master.html" %}
{% load staticfiles %}
{% block title %}Our Services{% endblock %}
{% block meta %}

{% endblock %}
{% block css %}
{%endblock %}


{% block content %}
<div class="head-banner clearfix mb30">
  <div class="wrapper">
	<h4>SERVICES</h4>
	<ul class="breadcrumb"><li><a href="/">Home</a></li>SERVICES</ul>	<div class="clear"></div>
  </div>
</div>



				<section class=" wrapper"  ><div class="wrapper dark"><div class="column12"><div class="service-welcome">
 <h3 class="main-title">What We Ofer</h3>
 <span class="main-subtitle">Our awesome services</span>

 <p> </p>
<p>Unique Solutions. offers a wide range of professional measurement services including</p>
<p></p>
</div>


<div class="about-services">
<div class="services dark">
	  <div class="our-service column4">
	<i class="fa fa-globe"></i>
	<h3>Land Survey</h3>
	<p>
		Land Surveys provides full surveying services specialising in aerial surveys, engineering surveys, hydrographic surveys, land development
	</p>
  </div>
		  <div class="our-service column4">
	<i class="fa fa-map"></i>
	<h3>Topographical Survey</h3>
	<p>
		Topographic Surveys are used to identify and map the contours of the ground and existing features on the surface of the earth
	</p>
  </div>
		  <div class="our-service column4">
	<i class="fa fa-list-alt"></i>
	<h3>Physical Survey</h3>
	<p>
		Physical surveys is also called mortgage surveys. Physical surveys caters to the demarcation of land by identifying its boundaries.
	</p>
  </div>
		  <div class="our-service column3">
	<i class="fa fa-map-signs"></i>
	<h3>Alignment Survey</h3>
	<p>
		Alignment and Engagement Survey identifies the level of employee alignment with the organisation's strategic goals, the level of employee engagement and exactly what is driving employee engagement.
	</p>
  </div>
  <div class="our-service column3">
  <i class="fa fa-user"></i>
  <h3>Quantity Survey</h3>
  <p>
  A quantity surveyor is a professional working within the construction industry concerned with construction costs and contracts. These are not to be confused with Land Survey Engineers.
  </p>
  </div>
  <div class="our-service column3">
<i class="fa fa-map-signs"></i>
<h3>Demarcation Survey</h3>
<p>
Demarcation Survey Services manufacturers, suppliers & exporters in India. Get contact details & address of companies manufacturing and supplying .
</p>
</div>
<div class="our-service column3">
<i class="fa fa-road"></i>
<h3>Road Survey</h3>
<p>
Road Survey Providers in India. Get contact details and address of Road Survey firms and companies.
</p>
</div>
  <div class="clear"></div>
</div>
</div>

</div></div></section><div class="clear"></div>






{% endblock %}
{% block script %}
{% endblock %}
