{% extends "master.html" %}
{% load staticfiles %}
{% block title %}Topigraphical Surveys{% endblock %}
{% block meta %}

{% endblock %}
{% block css %}
<style>
p {
    font-weight: 300;
    font-size: 20px;
    color: #8b8b8b;
    margin-bottom: 25px;
    line-height: 24px;
}
</style>
{%endblock %}


{% block content %}
<div class="head-banner clearfix mb30">
  <div class="wrapper">
	<h4>TOPOGRAPHICAL SURVEYS</h4>
	<ul class="breadcrumb"><li><a href="/">Home</a></li>
    <li><a href="/our-services">Services</a></li>
    Topographical Surveys</ul>	<div class="clear"></div>
  </div>
</div>





<div class="main-content wrapper dark">


<div class="home-blog column9">
 <div class="dark mb30">

     <div id="post-358" class="single-post-wrapper post-358 post type-post status-publish format-standard has-post-thumbnail hentry category-envato-2">

       <div class="post-detail">

         <img width="870" height="510" src="{% static 'app/topographical.jpg'%}" class="attachment-870x510 size-870x510 wp-post-image" alt="" />

         <h2>Topographical Surveys</h2>

         <div class="blog-content">
<p>Topography of a place is its landscape, geography and countryside, or in other words it can be shape of a plot or the features found on it. A surveys company is often asked to carry out Topographical Surveys for clients as they intend to effectively utilise the land for development of a project. The land could be undulating, uneven and having slope etc in the wrong direction. Often companies do purchase undulating land as it is cheaper that totally developed and leveled land. After Topographical surveys required areas are prepared and made uses of, resulting in substantial saving to the company.</p>
<p>We are leading providers of topographical surveys. We provide state of the art topographical surveying techniques. From the very dedicated direct survey method, in which our personnel will survey the topography directly, to the more advanced, remote sensing and photogrammetric survey, we provide you with a comprehensive array of survey techniques to choose from. We have very experienced staff to carry out these surveys and can also boast of the latest technology, all that at the most efficient of the prices. We have an experience of surveying diverse topographies and hence, with the backing of the previous experience, we can tell you beforehand (and this to the advantage of the client, by minimising resource wastage), which project to go ahead with and which not to. So, if you wish to associate yourself with the leading topographical surveyors, the buck stops right here.</p>
<P>Topographical Surveys is done so that the architect is aware of the various features of the earth that are on the plot. There are certain features that can be removed or leveled. Depending on the type of the project certain contour lines that depict undulation or uneven heights can also be leveled, in order to increase the useful area of the plot.</P>
<P>Also there are certain features that cannot be removed. In such situations it becomes easier for the architect to place the building or the project skirting these obstacles. Architects very often let certain contour lines remain in the plot so that this undulation is used as an effective means of landscaping. When large tracks of land have to be developed it becomes imperative to have the Topographical Surveys done so that the architect can have the building sited at the most convenient place after the site has been leveled and developed as per his requirement.</P>
           <div class="clearfix"></div>
                       </div>




       </div>
       <!-- End column4 -->
     </div>





 </div>

</div>

   <aside class="column3">
   <div id="sh_accordion_post-2" class="widget_sh_accordion_post"><h3>Technologies</h3>
 <div class="blog-categ mb30">
   <div class="accordion">
     <div id="accordion-container">



                                 <h2 class="accordion-header">New Search Platform Update</h2>
       <div class="accordion-content">
                   A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a Seven hells. Ever vigilant, moon-flower juice green dreams, old bear arbor gold, though all men do despise us. Maecenas you know nothing. Mulled wine.Seven hells. Ever vigilant, moon-flower juice
               </div>
                         <h2 class="accordion-header">Envato&#8217;s Most Wanted &#8211; $5,000</h2>
       <div class="accordion-content">
                   A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a Seven hells. Ever vigilant, moon-flower juice green dreams, old bear arbor gold, though all men do despise us. Maecenas you know nothing. Mulled wine.Seven hells. Ever vigilant, moon-flower juice
               </div>
                         <h2 class="accordion-header">Update: WordPress Theme Submission Requirements</h2>
       <div class="accordion-content">
                   A man who works with his hands is a laborer; a man who works with his hand s and his brain is a craftsman; but a Seven hells. Ever vigilant, moon-flower juice green dreams, old bear arbor gold, though all men do despise us. Maecenas you know nothing. Mulled wine.Seven hells. Ever vigilant, moon-flower juice
               </div>



         </div>
   </div>
 </div>

 <div class="clear"></div></div>		</aside>

<div class="clear"></div>
</div>


{% endblock %}
{% block script %}
{% endblock %}
